<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h2>Total nummber of users are <%= count %></h2>
   <form method="get" action="/users"> <button >join us !</button></form>
</body>
</html>