<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/user">
        <input placeholder="username" name="name">
        <input placeholder="id" name="id">
        <input placeholder="email" name="email">
        <input placeholder="password" name="password">
        <button>ADD ME !</button>
    </form>
</body>
</html>