body{
    text-align: center;
}
h1{
    font-family: "Bitcount Prop Single", system-ui;;
}
h2{
    font-family: "Quicksand", sans-serif;
}
.btn{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 30%;
    margin: 2rem;
}
.btn-cant{
    display: flex;
    justify-content: center;
   
}
.red{background-color: rgb(255, 39, 39);}
.green{
    background-color: rgb(73, 255, 7);
}
.purple{background-color: rgb(228, 26, 228);}
.yellow{background-color: yellow;}

.flash{
    background-color: white;
}