body{
    background-color: rgb(255, 125, 125);
    margin: 40px;
   
}
.chat{
    margin: 30px;
    background-color: rgb(188, 224, 255);
    border-radius: 25px;
    padding: 30px;
    display: inline-block;
    
}
.msg{
    background-color: dodgerblue;
    color: white;
    
}