<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit your Post</h1>
    <p>Post:<%=post.id%></p>
    <p>Name:<%=post.name%></p>
   <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
    <textarea name="post" rows="10" cols="50"><%= post.post %></textarea>
    <button>Submit</button>
    </form>
</body>
</html>