<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
</head>
<body>
    <form method="post" action="/posts"> 
        <input placeholder="username" name="name"><br>
        <textarea placeholder="enter your content for post" name="post"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>