<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>here is your post in detail</h1>
    <p>
        post id:<%= post.id%>
    </p>

    <div class="post">
        <h3 class="name">Name:<%=post.name%></h3>
        <h4 class="content">Content:<%=post.post%></h4>
    </div>
</body>
</html>