<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
    
</head>
<body>
    <h3>add new chat </h3>
   <form method="POST" action="/chats">
  <input type="text" name="from" placeholder="Sender" required>
  <input type="text" name="to" placeholder="Receiver" required>
  <textarea name="msg" placeholder="Message"></textarea>
  <button type="submit">Send</button>
</form>

</body>
</html>