<<<<<<< HEAD
.item {
    background-color: pink;
    border: 1px solid black;
}

@media (min-width: 400px) {
    .item {
        border-radius: 10px;
        background-color: white;
    }
}
=======
.cant{
height: 300px;
width: 600px;
background-color: black;
display: grid;
grid-template-rows: 60px 60px 60px ;
grid-template-columns: 100px 100px ;
    
}
.item{
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    text-align: center;
    border: 2px solid white;
}
>>>>>>> 15178c8 (modified)
